* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
  font-weight: 400;
}

body {
  background: url("./assets/bg.jpg") no-repeat center/cover;
  min-height: 100dvh;
}

#content img {
  width: 100%;
  border-radius: 16px;
}

#content {
  background-color: #f0e8c2;
  max-width: 800px;
  width: 100%;
  margin: 48px auto;
  padding: 24px;
  border-radius: 24px;
}

main {
  padding: 24px;
}

h1 {
  color: #291b1a;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 4px;
}

h2 {
  color: #291b1a;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 4px;
}

p,
li {
  color: #573a37;
  line-height: 1.5;
}

#ingredients {
  margin: 24px 0;
}

#ingredients ul {
  padding: 0 24px;
}

footer {
  margin-bottom: 28px;
  text-align: center;
  color: #f0e8c2;
}

footer img {
  vertical-align: middle;
}
